<p>arrmethods works!</p>
<div class="ui-g">
    <div class="ui-g-4">
        <pre>{{jsondata | json}}</pre>
    </div>

    <div class="ui-g-4">
        <pre>{{jsondata1 | json}}</pre>
    </div>
    
    <div class="ui-g-4">
            <pre>{{jsondata2 | json}}</pre>
        </div>
           
    <div class="ui-g-4">
            <pre>JSON TEXT: {{jsondata3 | json}}</pre>
        </div>

               
    <div class="ui-g-4">
            <pre>Concatted Json: {{jsondata4 | json}}</pre>
        </div>
        <div class="ui-g-4">
                <pre>{{jsondata2 | json}}</pre>
            </div>
            <div class="ui-g-4">
                <pre>Reverse Json: {{jsondata5 | json}}</pre>
            </div>
</div>