
<p-accordion>
    <p-accordionTab header="This data is from:  https://jsonplaceholder.typicode.com/comments">
        <pre>{{getdata | json}}</pre> 
    </p-accordionTab>
</p-accordion>
<p-accordion>
    <p-accordionTab header="This data is from: http://dummy.restapiexample.com/api/v1/employees">
        <pre>{{getdata1 | json}}</pre> 
    </p-accordionTab>
</p-accordion>
<p-accordion>
    <p-accordionTab header="This data is from: http://172.17.12.97:8080/get">
        <pre>{{data2 | json}}</pre> 
    </p-accordionTab>
</p-accordion>